# Python
venv/
__pycache__/
*.py[cod]
*.pyo

# Environment variables
.env

# PDF
*.pdf

# VS Code
.vscode/

# Python cache
.pytest_cache/
.mypy_cache/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Node (if frontend and backend are in same repo)
Frontend/node_modules/